<!-- 
<table>
    <tr>
        <th>question</th>
        <th>answer_option_1</th>
        <th>answer_option_2</th>
        <th>answer_option_3</th>
        <th>answer_option_4</th>
    </tr>
    <tr *ngFor="let ap of lstapi">
        <td>{{ap.question}}</td>
        <td>{{ap.answer-option_1}}</td>
        <td>{{ap.answer-option_2}}</td>
        <td>{{ap.answer-option_3}}</td>
        <td>{{ap.answer-option_4}}</td>
    </tr>
</table>
 -->

<div *ngFor="let ques of data">
    <p>
        {{ques.question}}
    </p>
</div>


<!-- <section class="inner-pg">
    <div class="container">
                <div class="card">
                    <form>
                        <div class="form-group col-12">
                            <label for="name">Full Name</label>
                            <input type="text" class="form-control field" name="name" id="name" value="" placeholder="Enter Full Name">
                        </div>
                        <br><br>
                                
                        <div class="form-group col-12">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control field" name="email" id="email" value=""  placeholder="Enter Email">
                        </div>
                        <br><br>
                            
                            
                        
                        <div class="form-group col-12">
                            <div>
                                <p>'mkdir' command is used for ______</p>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question0" id="q1c1" value="remove a directory">
                                    <label class="form-check-label" for="q1c1">remove a directory</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question0" id="q1c2" value="go to a directory">
                                    <label class="form-check-label" for="q1c2">go to a directory</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question0" id="q1c3" value="move a directory">
                                    <label class="form-check-label" for="q1c3">move a directory</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question0" id="q1c4" value="create a new directory">
                                    <label class="form-check-label" for="q1c4">create a new directory</label>
                                </div>
                            </div>
                            <br><br>
        
                            <div>
                                <p>Which command is used to find the directory you are currently in?</p>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question1" id="q2c1" value="cd">
                                    <label class="form-check-label" for="q2c1">cd</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question1" id="q2c2" value="pwd">
                                    <label class="form-check-label" for="q2c2">pwd</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question1" id="q2c3" value="current dir">
                                    <label class="form-check-label" for="q2c3">current dir</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question1" id="q2c4" value="cwd">
                                    <label class="form-check-label" for="q2c4">cwd</label>
                                </div>
                            </div>
                            <br><br>
        
                            <div>
                                <p>Which one of these commands is used to display the size of a directory and all of its subdirectories?</p>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question2" id="q3c1" value="du">
                                    <label class="form-check-label" for="q3c1">du</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question2" id="q3c2" value="su">
                                    <label class="form-check-label" for="q3c2">su</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question2" id="q3c3" value="sudo">
                                    <label class="form-check-label" for="q3c3">sudo</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question2" id="q3c4" value="dr">
                                    <label class="form-check-label" for="q3c4">dr</label>
                                </div>
                            </div>
                            <br><br>
        
                            <div>
                                <p>Which one of these commands is used to move a file?</p>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question3" id="q4c1" value="mv">
                                    <label class="form-check-label" for="q4c1">mv</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question3" id="q4c2" value="move">
                                    <label class="form-check-label" for="q4c2">move</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question3" id="q4c3" value="rm">
                                    <label class="form-check-label" for="q4c3">rm</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question3" id="q4c4" value="m">
                                    <label class="form-check-label" for="q4c4">m</label>
                                </div>
                            </div>
                            <br><br>
        
                            <div>
                                <p>Which of the following commands is used to display the current date and time?</p>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question4" id="q5c1" value="-d">
                                    <label class="form-check-label" for="q5c1">-d</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question4" id="q5c2" value="-get time&date">
                                    <label class="form-check-label" for="q5c2">-get time&date</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question4" id="q5c3" value="-get datetime">
                                    <label class="form-check-label" for="q5c3">-get datetime</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mr-3" type="radio" name="question4" id="q5c4" value="date">
                                    <label class="form-check-label" for="q5c4">date</label>
                                </div>
                            </div>
                            <br><br>
                        </div>

                        <div class="form-group col-12 text-center mb-3">
                            <button class="btn btn-primary btn-block" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            
   </div>
</section>
 -->



